<div>
  <!-- lti_editor_button index template -->
  <h3>Example custom variables that were passed into the LTI Launch</h3>
  <ul>
    <li>user_id = <%= @canvas_user_id %></li>
    <li>email = <%= @canvas_email %></li>
    <li>name = <%= @canvas_fullname %></li>
    <li>course = <%= @canvas_course_name %></li>
  </ul>

  <!-- deep_link_response -->
  <!-- TODO: setup a handle to do the post back to Canvas -->
  <% if false %> <!-- Commented out for now-->
  <form action="<%= @deep_link_return_url %>" method="post" id="deep-link-form">
    <input id="JWT" name='JWT' type='hidden' value="<%= @jwt_response %>" />
    <input type='submit' value='Submit' />
  </form>
  <% end %>

</div>
